<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 스크립트 연결 defer / ascinc-->
    <link rel="stylesheet" href="/css/home/login.css">
    <script src = "/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id = "id" type="text" placeholder="username"/>
            <input id = "psword" type="password" placeholder="password"/>
            <p id="button">login</p id="button">
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>